      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <img src="/img/appuio_logo.svg" alt="APPUiO Logo" class="navbar-logo">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="book"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clusters">
                <span data-feather="cloud"></span>
                Clusters
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/namespaces">
                <span data-feather="list"></span>
                Managed Namespaces
              </a>
            </li>
          </ul>
  
        </div>
      </nav>
  