{{define "content"}}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>

    <p>Once upon a time - there will be a shiny dashboard</p>

    <div class="card">
        <div class="card-header">
        News
        </div>
        <div class="card-body">
        <h5 class="card-title">2019-05-03 - Managed Namespace Management</h5>
        <p class="card-text">Our first feature: shiny Managed Namespaces</p>
        <a href="/namespaces" class="btn btn-primary">Go to Managed Namespace management</a>
        </div>
    </div>
{{end}}