{{define "content"}}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">List of Managed Namespaces</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/nscud"><button type="button" class="btn btn-sm btn-outline-secondary">New Managed Namespace</button></a>
            </div>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-secondary">Cluster</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">cdays-demo</a>
            <a class="dropdown-item" href="#">another-cluster</a>
            <a class="dropdown-item" href="#">test-cluster-1</a>
        </div>
    </div>
    <p></p>
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="theTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ range $i, $ns := .namespaces}}
                <tr>
                    <th scope="row">{{ call $.add $i 1 }}</th>
                    <td>{{ .Customer }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Description }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/nscud/update/{{ .Customer }}/{{ .Name }}">Edit</a>
                                <a class="dropdown-item" href="/nscud/delete/{{ .Name }}">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {{ end }}
            <tbody>
        </table>
    </div>
</div>
{{end}}