{{ define "content" }}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Namespace Management on {{ .cluster }}</h1>
    </div>

    {{ if .message }}
    <div class="alert alert-{{ .messagetype }}" role="alert">
        {{ .message }}
    </div>
    <a href="/cluster/{{ .cluster }}"><button type="button" class="btn btn-primary">Back to Namespace listing</button></a>
    {{ else }}
    {{ if eq .action "Create"}}
    <form action="/cluster/{{ .cluster }}/nscud" method="POST">
    {{ else if eq .action "Update" }}
    <form action="/cluster/{{ .cluster }}/nscud/update/{{ .namespace.Customer }}/{{ .namespace.Name }}" method="POST">
    {{ end }}
        <div class="form-group">
            <label for="InputNsCustomer">Customer</label>
            <input type="text" class="form-control" id="nsCustomer" name="nsCustomer" placeholder="Enter Customer Name" value="{{ .namespace.Customer }}" {{ if .namespace.Customer }}disabled{{ end }}>
        </div>
        <div class="form-group">
            <label for="InputNsName">Name</label>
            <input type="text" class="form-control" id="nsName" name="nsName" placeholder="Enter Namespace Name" value="{{ .namespace.Name }}" {{ if .namespace.Name }}disabled{{ end }}>
        </div>
        <div class="form-group">
            <label for="InputNsDescription">Description</label>
            <input type="text" class="form-control" id="nsDescription" name="nsDescription" placeholder="Enter Namespace Description"  value="{{ .namespace.Description }}">
        </div>
        <div class="form-group">
            <label for="InputQuota">Quota</label>
            <input type="range" class="form-control" id="quota" name="quota" max="100" value="10">
        </div>
        <button type="submit" class="btn btn-primary">{{ .action }}</button>
    </form>
    {{ end }}
{{ end }}